@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 400;
    font-variant-numeric: lining-nums;
    font-feature-settings: "lnum";
    src: url("/Merriweather-Regular.ttf") format('truetype');
  }
  @font-face {
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 700;
    font-variant-numeric: lining-nums;
    font-feature-settings: "lnum";
    src: url("/Merriweather-Bold.ttf") format('truetype');
  }
}

::selection {
  background-color: #156839;
  color: #ffffff
}

body {
  font-feature-settings: "lnum";
}