---
import Layout from '../layouts/Layout.astro';
import Catalog from '../components/Catalog.astro';
import Contacts from '../components/Contacts.astro';
---

<Layout>
	<h1 class="text-2xl font-bold md:text-4xl mb-10 md:mb-14">saudimade.ru —<br/> эксклюзивные&nbsp;товары<br/>из&nbsp;Саудии</h1>
	<Catalog />
	<Contacts className='mt-10'/>
</Layout>
